
.SettingsPanel {
  position: absolute;

  right: 0;
  top: 0;
  width: 25%;
  height: 100%;
  background-color: brown;
}

.Settings {
  /* background-color: blue; */
  height: max-content;
  padding: 1em;
}
.SliderContainer {
  /* padding-block: 0.5em; */
  /* background-color:blueviolet; */
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  height: 3em;
}

.BottomButtons {
  margin-bottom: 0%;
  /* background-color: green; */
  height: auto;
}

.button {
  width: fit-content;
  margin: 1em;

  float: inline-start;
}

.right {
  float: inline-end;
}

.flexChild {
  flex: 1
}